html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Montserrat";
  /* 20px default font size @ 125% */
  font-size: 62.5%;
  color: #000;
}

h1 {
  font-size: clamp(3.125rem, 0.4167rem + 8.6667vw, 8rem);
  text-align: left;
  font-weight: 500;
}

h2 {
  font-size: clamp(1.875rem, 0.1389rem + 5.5556vw, 5rem);
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: clamp(1.25rem, 0.9028rem + 1.1111vw, 1.875rem);
}

h4 {
  font-size: clamp(1rem, 0.8611rem + 0.4444vw, 2rem);
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-size: clamp(1rem, 0.8611rem + 0.4444vw, 2rem);
  line-height: clamp(1.8rem, 2.3vw, 2.5rem);
}

ol, ul {
  font-size: clamp(1rem, 0.8611rem + 0.4444vw, 2rem);
  line-height: clamp(1.8rem, 2.3vw, 2.5rem);
}

li {
  font-size: clamp(1rem, 0.8611rem + 0.4444vw, 2rem);
}

footer p, footer li {
  font-size: 1rem;
}

a {
  font-size: clamp(1rem, 0.8611rem + 0.4444vw, 2rem);
  color: #000;
}

nav a {
  font-size: 2.5rem;
  font-weight: 600;
}

i {
  font-size: clamp(1.25rem, 0.2083rem + 3.3333vw, 3.125rem);
  color: rgb(141, 176, 221);
}

span {
  color: rgb(141, 176, 221);
}

button {
  font-size: clamp(1rem, 0.8611rem + 0.4444vw, 2rem);
}

input, textarea {
  font-size: 1.35rem;
  font-family: "Nunito";
}

.centered {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(247, 247, 247);
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  width: 70%;
}

h3 {
  margin: 5px 0px;
}

button {
  width: 15%;
  border-radius: 50px;
  padding: 10px;
  margin: 5px;
  background-color: rgb(247, 247, 247);
  border: none;
  box-shadow: 0px 5px 10px rgba(61, 61, 61, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  transform: translateY(-7px);
  color: rgb(141, 176, 221);
}

.container {
  background-color: #FFF;
  border-radius: 20px;
  padding: 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.container:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: nowrap;
}
nav ul li {
  margin: 20px;
}

header {
  background-image: url("../../../assets/headerImageClouds.jpg");
  background-position-y: 20%;
}
header .vidContainer {
  height: 90vh;
}
header .headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-wrap: nowrap;
  height: 80vh;
}

.headline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 25vh;
}
.headline p {
  width: 80%;
}

.offering {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: normal;
  flex-wrap: nowrap;
  min-height: 90vh;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 50vh;
}
.services .service {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  flex-wrap: nowrap;
  width: 25%;
  min-height: 50vh;
}
.services .service div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  height: 30vh;
}
.services .service button {
  width: 50%;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  padding: 50px 0px;
  min-height: 80vh;
  background-color: rgb(242, 242, 243);
}
.about .approach,
.about .qualifications {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  cursor: pointer;
}
.about .bio {
  width: 40%;
}
.about .bio .headshot {
  position: fixed;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
}
.book .sectionContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 100px 0 20px 0px;
}
.book .getInTouch {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 40%;
}
.book .getInTouch button {
  width: 40%;
}
.book h3 {
  width: 100%;
}
.book p {
  width: 90%;
}
.book .sectionItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 60vh;
  align-content: center;
  gap: 20px;
  width: 50%;
}
.book form button {
  width: 40%;
  align-content: center;
}
.book form label {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
.book form input,
.book form textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 0.5px solid black;
  border-radius: 10px;
  background: transparent;
}
.book form .formItem {
  margin-bottom: 30px;
  position: relative;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  width: 30%;
}

.billingPolicies {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
}

.faq h2 {
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-image: url("../../../assets/headerImageClouds.jpg");
}
.faq .faqList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  flex-wrap: nowrap;
  width: 80%;
  margin: 0 auto;
}
.faq .faqItem {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  margin-bottom: 15px;
  background-color: rgb(242, 242, 243);
  padding: 15px 50px;
  box-shadow: rgba(33, 35, 38, 0.15) 0px 10px 10px -10px;
}
.faq .faqItem:hover {
  cursor: pointer;
}
.faq .answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: nowrap;
}
.faq .answer p {
  width: 94%;
}
.faq .question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.faq .question p, .faq .question i {
  font-size: clamp(1.125rem, 0.7083rem + 1.3333vw, 2.3rem);
}
.faq .question i {
  color: rgb(141, 176, 221);
}

.policy .headerImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 50vh;
  background-image: url("../../../assets/headerImageClouds.jpg");
}
.policy .page {
  margin: 30px auto;
  width: 70%;
  max-width: 1200px;
  padding: 20px 40px;
}
.policy h3 {
  color: rgb(141, 176, 221);
}
.policy .address {
  text-align: center;
  padding: 0px;
}

footer {
  margin-top: 80px;
  padding-top: 120px;
  background-image: url(../../../assets/cloudFooterNew.svg);
  background-size: cover;
  height: 65vh;
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  flex-wrap: nowrap;
}
footer div section {
  width: 50%;
  margin-top: 70px;
}
footer div section .crisisSupport {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  width: 70%;
  margin-top: 40px;
  margin-right: 20px;
}
footer div section .crisisSupport p, footer div section .crisisSupport ul {
  margin-top: 5px;
}
footer div section .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  flex-wrap: nowrap;
  width: 30%;
  margin-top: 40px;
}
footer div section .buttons button {
  width: 100%;
}
footer div section .socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid rgb(247, 247, 247);
}
footer div section .socialMedia .sx-verified-seal {
  width: 20%;
}
footer div section .socialMedia img {
  border-radius: 20px;
  width: 100%;
  padding: 7px;
}
footer div section .socialMedia i {
  margin-left: 10px;
}
footer div form {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  width: calc(50% - 80px);
  margin-right: 80px;
}
footer div form h4 {
  width: 100%;
  margin-bottom: 0px;
}
footer div form input, footer div form textarea {
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  padding: 0px 10px;
}
footer div form input {
  width: calc(50% - 10px);
  margin: 0px 10px 10px 0;
  border-radius: 10px;
  font-size: 1.35rem;
  font-family: "Nunito";
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.461);
  color: #000;
}
footer div form textarea {
  width: calc(100% - 10px);
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1.35rem;
  font-family: "Nunito";
  background-color: rgba(255, 255, 255, 0.461);
  color: #000;
}
footer div form button {
  border: 3px solid rgb(247, 247, 247);
  margin-top: 15px;
  border-radius: 15px;
  padding: 0px 10px;
  font-size: 1.35rem;
  font-family: "Nunito";
  background-color: rgb(247, 247, 247);
  color: #000;
  font-weight: 700;
}
footer div form button:hover {
  background-color: rgb(247, 247, 247);
  color: rgb(141, 176, 221);
  border: 3px solid rgb(247, 247, 247);
}/*# sourceMappingURL=styles.css.map */