html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  /* 20px default font size @ 125% */
  color: #000;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: clamp(3.125rem, 0.4167rem + 8.6667vw, 8rem);
  text-align: left;
  font-weight: 500;
}

h2 {
  font-size: clamp(1.875rem, 0.1389rem + 5.5556vw, 5rem);
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: clamp(1.25rem, 0.9028rem + 1.1111vw, 1.875rem);
}

.bio h4 {
  font-size: clamp(1rem, 0.8611rem + 0.4444vw, 2rem);
}

.bio h3 {
  font-size: clamp(1rem, -0.4844rem + 4.75vw, 3rem);
}

.getInTouch h3 {
  font-size: clamp(1rem, -0.4844rem + 4.75vw, 4rem);
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}

h5 {
  font-size: clamp(1rem, 0.8611rem + 0.4444vw, 2rem);
  text-transform: uppercase;
  font-weight: 500;
}

p {
  font-size: clamp(1rem, 0.8611rem + 0.4444vw, 2rem);
}

.about p {
  line-height: clamp(1.8rem, 2.3vw, 2.2rem);
}

.headline p {
  font-size: clamp(1rem, -0.4844rem + 4.75vw, 2.1875rem);
}

ol, ul {
  font-size: clamp(1rem, 0.8611rem + 0.4444vw, 2rem);
  line-height: clamp(1.8rem, 2.3vw, 2.5rem);
}

li {
  font-size: clamp(1rem, 0.8611rem + 0.4444vw, 2rem);
}

footer p, footer li {
  font-size: clamp(1rem, 0.8611rem + 0.4444vw, 1.25rem);
  line-height: clamp(1.35rem, 2vw, 1.75rem);
}

a {
  font-size: clamp(1rem, 0.8611rem + 0.4444vw, 2rem);
  color: #000;
}

nav a {
  font-size: 1.8rem;
  font-weight: 600;
}

i {
  font-size: clamp(1.25rem, 0.2083rem + 3.3333vw, 3.125rem);
  color: #B2C6DF;
}

footer i {
  font-size: clamp(1.25rem, 0.2083rem + 3.3333vw, 4.125rem);
}

.service i {
  font-size: clamp(1.25rem, 0.2083rem + 3.3333vw, 4rem);
}

.approach i, .qualifications i {
  font-size: clamp(1rem, 0.8611rem + 0.4444vw, 1.5rem);
}

span {
  color: #B2C6DF;
}

button {
  font-size: clamp(1rem, 0.8611rem + 0.4444vw, 2rem);
}

input, textarea {
  font-size: 1.35rem;
  font-family: "Nunito";
}

.centered {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(247, 247, 247);
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  width: 70%;
}

h3 {
  margin: 5px 0px;
}

button {
  min-width: 115px;
  padding: 10px;
  margin: 5px;
  border-radius: 25px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #B2C6DF;
  border-radius: 25px;
  z-index: -2;
}
button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #8eabd0;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
button:hover {
  color: #fff;
}
button:hover:before {
  width: 100%;
}

.container {
  background-color: #FFF;
  border-radius: 20px;
  padding: 0px 20px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.container:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
  transform: scale(1.01);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  background-color: #c4cdd6;
}
nav .logo {
  width: 8%;
  padding-top: 10px;
}
nav ul {
  gap: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: nowrap;
  transition: all 1s;
}
nav ul li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
nav ul a:hover {
  border-bottom: 4px solid #d8c48c;
}

header {
  background-image: url("../../../assets/headerImageClouds.jpg");
  background-position-y: 20%;
}
header .headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-wrap: nowrap;
  height: 80vh;
}
@media (max-width: 800px) {
  header .headerContent {
    height: 100vh;
  }
}
header .headerContent button {
  background-color: #d8c48c;
  width: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  color: #fff;
  min-width: 115px;
}
header .headerContent button:after {
  content: "";
  background-color: #d8c48c;
}
header .headerContent button:before {
  content: "";
  background-color: #cfb671;
}
header .headerContent button:hover {
  color: #fff;
}

.headline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 25vh;
}
@media (max-width: 800px) {
  .headline {
    height: 50vh;
  }
}
.headline p {
  width: 80%;
}

.offering {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: normal;
  flex-wrap: nowrap;
  min-height: 90vh;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 50vh;
}
@media (max-width: 800px) {
  .services {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.services .service {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  flex-wrap: nowrap;
  width: 25%;
  min-height: 50vh;
  -webkit-animation: slideUp 2s;
          animation: slideUp 2s;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.services .service:hover {
  box-shadow: rgba(41, 41, 57, 0.25) 0px 6px 8px -2px;
  transform: scale(1.04);
}
@media (max-width: 800px) {
  .services .service {
    width: 80%;
  }
}
.services .service div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  height: 30vh;
  margin: 0 10px;
}
.services .service button {
  width: 50%;
  color: black;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  padding: 50px 0px;
  min-height: 80vh;
  background-color: rgb(242, 242, 243);
}
.about .approach,
.about .qualifications {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #FFF;
  padding: 20px 30px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.about .approach:hover,
.about .qualifications:hover {
  box-shadow: rgba(41, 41, 57, 0.25) 0px 6px 8px -2px;
  transform: scale(1.01);
}
.about .qualsList {
  padding-left: 30px;
}
.about .qualsList li {
  list-style-type: circle;
}
.about .bio {
  width: 50%;
}
.about .bio h4 {
  border-bottom: 2px solid #d8c48c;
  width: 26%;
  margin-bottom: 20px;
}
.about .bio p {
  margin: 15px 0;
}
.about .headshot {
  width: 35%;
  display: flex;
  justify-content: center;
}
.about .headshot img {
  width: 90%;
}

@-webkit-keyframes slideUp {
  0% {
    transform: translate(0, 300px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translate(0, 300px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.book h2 {
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-image: url("../../../assets/headerImageClouds.jpg");
}
.book .sectionContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 100px 0;
  margin: 40px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(247, 247, 247);
}
.book .getInTouch {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 40%;
}
.book .getInTouch button {
  width: 40%;
}
.book h3 {
  width: 100%;
}
.book p {
  width: 90%;
}
.book .sectionItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 60vh;
  align-content: center;
  gap: 20px;
  width: 50%;
}
.book form button {
  width: 40%;
}
.book form label {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
.book form input,
.book form textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 0.5px solid black;
  border-radius: 10px;
  background: transparent;
}
.book form .formItem {
  margin-bottom: 15px;
  position: relative;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  width: 40%;
}
.formContainer p {
  margin: 15px 0;
}

.billingPolicies {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
}

.faq h2 {
  height: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-image: url("../../../assets/headerImageClouds.jpg");
}
.faq .faqList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  flex-wrap: nowrap;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.faq .faqItem {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  background-color: rgb(242, 242, 243);
  padding: 25px 50px;
  box-shadow: rgba(33, 35, 38, 0.15) 0px 10px 10px -10px;
}
.faq .faqItem:hover {
  cursor: pointer;
}
.faq .answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: nowrap;
}
.faq .answer p {
  width: 94%;
  margin-top: 10px;
}
.faq .question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.faq .question p, .faq .question i {
  font-size: clamp(1.125rem, 0.7083rem + 1.3333vw, 2.3rem);
}
.faq .question i {
  color: #B2C6DF;
}

.policy .headerImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 35vh;
  background-image: url("../../../assets/headerImageClouds.jpg");
}
.policy .page {
  margin: 30px auto;
  width: 70%;
  max-width: 1200px;
  padding: 20px 40px;
}
.policy h3 {
  color: #B2C6DF;
}
.policy .address {
  text-align: center;
  padding: 0px;
}

footer {
  margin-top: 50px;
  background-color: #bfccd9;
  background-size: cover;
}
footer .footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56vh;
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  flex-wrap: nowrap;
}
footer div section {
  width: 50%;
  margin-top: 35px;
}
footer div section .crisisSupport {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  width: 60%;
  margin-right: 20px;
}
footer div section .crisisSupport p {
  margin-top: 10px;
}
footer div section .crisisSupport li {
  margin-top: 3px;
  list-style-type: disc;
  margin-left: 25px;
}
footer div section .buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: nowrap;
  width: 30%;
  margin-top: 10px;
}
footer div section .buttons button {
  width: 100%;
}
footer div section .buttons button::after {
  background-color: #a0b9d8;
}
footer div section .socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 3px solid rgb(247, 247, 247);
}
footer div section .socialMedia .sx-verified-seal {
  width: 100%;
}
footer div section .socialMedia img {
  border-radius: 20px;
  width: 95%;
}
footer div section .socialMedia i {
  margin-left: 10px;
  color: #7c9ec9;
}
footer div form {
  width: calc(50% - 50px);
  margin-right: 50px;
}
footer div form h4 {
  width: 100%;
  margin-bottom: 0px;
}
footer div form input, footer div form textarea {
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  padding: 0px 10px;
}
footer div form input {
  width: calc(50% - 10px);
  margin: 15px 10px 10px 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.35rem;
  font-family: "Nunito";
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.461);
  color: #000;
}
footer div form textarea {
  width: calc(100% - 10px);
  height: 150px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1.35rem;
  font-family: "Nunito";
  background-color: rgba(255, 255, 255, 0.461);
  color: #000;
}
footer div form button {
  margin-top: 15px;
  padding: 10px 15px;
  font-family: "Montserrat", sans-serif;
  color: #000;
}
footer div form button::after {
  background-color: #a0b9d8;
}
footer div form button:hover {
  color: #000;
}/*# sourceMappingURL=styles.css.map */