@use "./variables" as *;
@use "./mixins" as *;

.book {
  @include flex(column);
  // padding: 20px;
  // border-radius: 25px;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
  .sectionContent {
    @include flex(row, space-evenly, flex-start);
    padding: 100px 0 20px 0px;
  }

  .getInTouch {
    @include flex(column, normal, flex-start);
    width: 40%;

    button {
        width: 40%;
        // border-radius: 20px;
        // padding: 20px 0px;
        // background-color: $primaryColour;
        // font-size: 2rem;
    }
  }
  
  h3 {
    width: 100%;
  }

  p {
    width: 90%;
  }
  
  .sectionItems {
    @include flex(column, center, center);
    height: 60vh;
    align-content: center;
    gap: 20px;
    width: 50%;
  }
   
  form {
    button {
      width: 40%;
      align-content: center;
    }

    label {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      outline: 0;
      border: 0.5px solid black;
      border-radius: 10px;
      background: transparent;
    }

    .formItem {
      margin-bottom: 30px;
      position: relative;
    }
  }
}


.formContainer {
  @include flex(column);
  width: 30%;
}

.billingPolicies {
  @include flex(column, normal, center);
  width: 100%;
  margin: 0;
}