@use "./variables" as *;
@use "./mixins" as *;

.faq {
  h2 {
    height: 35vh;
    @include flex(row, center, center);
    background-image: url("../../../assets/headerImageCloudsDark.jpg");
    @include tablet {
      height: 65vh;
    }
  }

  .faqList {
    @include flex(column, space-between);
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .faqItem {
    @include flex(column);
    margin-bottom: 20px;
    background-color: $tertiaryColour;
    padding: 25px 50px;  
    box-shadow: $listShadow;
    &:hover {
      cursor: pointer;
    }
  }
   
  .answer {
    @include flex(row, center);
    p {
      width: 94%;
      margin-top: 10px;
    }
  }

  .question {
    @include flex(row, space-between, center);
    i {
      font-size: clamp(1.125rem, 0.7083rem + 1.3333vw, 2.3rem); 
      color: $primaryColour;
    }
   
  }
}
