@use "./variables" as *;
@use "./mixins" as *;

footer {
    margin-top: 80px;
    padding-top: 120px;
    background-image: url(../../../assets/cloudFooterNew.svg);
    background-size: cover;
    height: 65vh;
    div {
        @include flex(row, space-between);
        section {
            width: 50%;
            margin-top: 70px;
            .crisisSupport {
                @include flex(column);
                width: 70%;
                margin-top: 40px;
                margin-right: 20px;
                p, ul {
                    margin-top: 5px;
                }
            }
            .buttons {
                @include flex(column, center);
                width: 30%;
                margin-top: 40px;
                button {
                    width: 100%;
                }
            }
            .socialMedia {
                @include flex(row, flex-end, center);
                margin-top: 10px;
                padding-top: 10px;
                border-top: 2px solid $secondaryColour;
                .sx-verified-seal {
                    width: 20%;
                }
                img {
                    border-radius: 20px;
                    width: 100%;
                    padding: 7px;
                }
                i {
                    margin-left: 10px;
                }
            }
        }
    
        form {
            @include flex(row, normal, normal, wrap);
            width: calc(50% - 80px);
            margin-right: 80px;
            h4 {
                width: 100%;
                margin-bottom: 0px;
            }
            input, textarea {
                border-radius: 10px;
                background-color: $secondaryColour;
                padding: 0px 10px;
            }
            input {
                width: calc(50% - 10px);
                margin: 0px 10px 10px 0;
            }
            textarea {
                width: calc(100% - 10px);
                padding: 10px;
            }
            button {
                border: 3px solid $secondaryColour;
                margin-top: 15px;
                border-radius: 15px;
                padding: 0px 10px;
                font-size: 1.35rem;
                font-family: 'Nunito';
                background-color: $secondaryColour;
                color: $fontColour;
                font-weight: 700;
                &:hover {
                    background-color: $secondaryColour;
                    color: $primaryColour;
                    border: 3px solid $secondaryColour;
                }
            }
        }
    }
}