@use "./variables" as *;
@use "./mixins" as *;

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: $secondaryColour;
}

button {
  border: none;
  padding: 15px;
  background: $secondaryColour;
  cursor: pointer;
  transition: all .3s ease;
}