@use "./variables" as *;
@use "./mixins" as *;

header {
  background-image: url("../../../assets/headerImageClouds.jpg");
  background-position-y: 20%;
  .vidContainer {
    height: 90vh;
  }

  .headerContent {
    @include flex(column, center, left);
    height: 80vh;
  }
}

// landing page banner

.headline {
  @include flex(row, center, center);
  height: 25vh;

  p {
    width: 80%;
  }
}

// services section here

.offering {
  @include flex(column, space-evenly);
  min-height: 90vh;
}

.services {
  @include flex(row, space-evenly, center);
  min-height: 50vh;

  .service {
    @include flex(row, normal, center);
    width: 25%;
    min-height: 50vh;

    div {
      @include flex(column, space-evenly, center);
      height: 30vh;
    }

    button {
      width: 50%;
    }
  }
}

//about section styles begin here

.about {
  @include flex(row, space-evenly, center);
  padding: 50px 0px;
  min-height: 80vh;
  background-color: $tertiaryColour;

  // CHANGE THIS TO A DROPDOWN SECTION -- CREATE DROPDOWN IN GLOBAL STYLES
  .approach,
  .qualifications {
    @include flex(row, space-between, center);
    // box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    // background-color: $whiteColour;
    // padding: 0px 30px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .bio {
    width: 40%;

    .headshot {
      position: fixed;
    }
  }
}

