@use "./variables" as *;
@use "./mixins" as *;

.policy {
    .headerImg {
        @include flex(row, center, center);
        height: 35vh;
        background-image: url("../../../assets/headerImageClouds.jpg");
    }
    .page {
        margin: 30px auto;
        width: 70%;
        max-width: 1200px;
        padding: 20px 40px;
    }
    h3 {
        color: $primaryColour;
    }
    .address {
        text-align: center;
        padding: 0px;
    }
}