// COLOURS:
$primaryColour: #C1CFD8;
$secondaryColour: rgb(247, 247, 247);
$tertiaryColour: rgb(238, 238, 238);
$fontColour: #000;
$whiteColour: #FFF;


// FONTS:
$mainFont: 'Montserrat';
$accentFont: 'Nunito'; 