// COLOURS:
$primaryColour: #80b7db;
$secondaryColour: #fff292;
$tertiaryColour: #d8d8d8;
$fontColour: #000;
$whiteColor: #FFF;
$lightGrey: rgb(247, 247, 247);
$otherGrey: rgb(238, 238, 238);


// FONTS:
$mainFont: 'Montserrat';
$accentFont: 'Nunito';